
.heading_1{
  position: relative;
  width: 100%;
  height: 75px;
  margin-bottom: 50px;
  font-family: Raleway;
  font-size: 38px;
  text-align: center;
  padding-top: 3%;
  color: white;
  background: #3AA3B1;
  border-radius: 40px 40px 0px 0px;
}

.contents{
  position:relative;
  background: lightblue;
  border-radius: 40px;
  font-family: Lato;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  padding: 1%;
  margin: 1%;
  color: gray;
}

.head{
  font-family: Lato;
  color:darkslategray;
  font-size: 30px;
}

.end{
  position: relative;
  margin-left: 50%;
}
